body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* ANIMATIONS */

.loading {
    position: absolute;
    top: 1px;
    left: 49%;
    display: none;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}

.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}

.angular-google-map-container {
    height: 90vh;
    width: 40%;
    float: right;
}

.navbar, .navbar-default {
    margin: 0;
    padding: 0;
}

.left-container {
    float: left;
    width: 60%;
}

#while {
    border: 1px solid red;
    min-height: 200px;
    /*height: 200px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*overflow: hidden;*/
}

#while img {
    height: auto;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}