 	<!-- navigation -->
     <navigation></navigation>    
    <!-- /navigation -->
    
<!-- <div class="owl-carousel main-slider">
	<div class="item" style="background-image: url(img/BANNER-001.jpg);">
		<div class="shell">
			dasdasdas
		</div>
	</div>

	<div class="item" style="background-image: url(img/BANNER-002.jpg);">
		<div class="shell">
			fasdasdasdad
		</div>
	</div>

	<div class="item" style="background-image: url(img/BANNER-003.jpg);">
		<div class="shell">
			dsadada
		</div>
	</div>
</div> -->
<div class="main-slider">
	<ul rn-carousel class="image">
	  <li>
	  	<div class="item" style="background-image: url(img/BANNER-003.jpg);">
			<div class="shell">
				<!-- dsadada -->
			</div>
		</div>
	  </li>
	  <li>
	  	<div class="item" style="background-image: url(img/BANNER-002.jpg);">
			<div class="shell">
				<!-- fasdasdasdad -->
			</div>
		</div>
	  </li>
	  <li>
	  	<div class="item" style="background-image: url(img/BANNER-001.jpg);">
			<div class="shell">
				<!-- dasdasdas -->
			</div>
		</div>
	  </li>
	</ul>
</div>
<div class="main-content">
	<div class="shell">
		<div class="main-heading">
			<h2>ПОСЛЕДНИ ПРОЕКТИ</h2>
			<img src="img/SEPARATE-fade.png">
		</div>

		<div class="project-box-holder clearfix">
			<div class="project-box">
					<a href="" class="image-holder">
						<img src="">
					</a>

					<div class="box-description">
						<a href=""
						   class="project-title">wsdfv</a>
						<p>szdvzfdv</p>
						<a href="user/" class="user-uploaded-image">
							<img src="img/person1.jpg">
						</a>
						<p class="project-category">Category: 
							
						</p>
					</div>
				</div>			
		</div>		

<!--		<a href="#" class="load-more-btn">Зареди повече</a>-->
	</div>
</div>

<div class="call-to-action">
	<div class="shell">
		<div class="cta-holder">
			<h2>Вземи <span>участие</span> сега</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
			<a href="#" class="btn-main">Присъедини се</a>
		</div>
	</div>
</div>