<!-- navigation -->
<navigation></navigation>
<!-- /navigation -->

<div class="form-top-heading">
	<div class="shell">
		<h5>Не се чуди много</h5>
		<h3>Създай нов проект</h3>
	</div>
</div>

<div class="form-main-content">
	<div class="shell">
		<div class="form-holder">
            <form ng-submit="createProject()">
                <input ng-model="title" type="text" placeholder="Заглавие" class="input-main input-spacing">
                <textarea ng-model="description" class="input-main textarea-main textarea-link input-spacing" placeholder="Описание " ></textarea>
            </form>
			<form ng-if="showForm" ng-submit="createProject()">
				<h4 class="sub-heading input-spacing">Категории:</h4>
				<div ng-if="categories" class="user-categories-create-project clearfix">
		            <div ng-click="getCat(c.id)" ng-repeat="c in categories" data-cat_id="{{ c.id }}" class="categories-box-row-create-project">
		                <img ng-src="img/{{ c.icon }}">
		                <p><small>{{ c.name }}</small></p>
		            </div>
		        </div>
				<div class="checkbox-holder">
					<div class="checkbox-col">
					</div>
				</div>

				<div  class="file-cnt-holder create-project-file">
					<h4 class="sub-heading">Качи файлове: </h4>
					<div class="file input-spacing">
                        <input type="file" id="file-to-upload" nv-file-select uploader="projectFile"/>
						<p class="value">Избери файл</p>
						<span class="btn-value"></span>
					</div>
				</div>
                <div ng-if="progres && progres < 100" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width:0%">
                        <span class="sr-only">
                            0%
                        </span>
                    </div>
                </div>
                <div ng-if="projectFile.queue" class="file-cnt-holder create-project-file">
                    <div ng-repeat="item in projectFile.queue" class="project-item input-spacing">
                        <span class="value">{{ item.file.name }}</span>
                        <span class="btn-value"></span>
                    </div>
                </div>
                <input type="hidden" name="projectID" id="projectID" ng-model="projectID" value="{{ projectID }}">

				<input ng-if="btnCreate" type="submit" value="ПУБЛИКУВАЙ" class="btn-main form-btn-main input-spacing">
			</form>
		</div>

		<img src="img/KVADRATI-01.png" class="box-element-1">
	</div>
</div>