<!-- navigation -->
<navigation></navigation>
<!-- /navigation -->

<div class="form-top-heading">
	<div class="shell">
		<h5>Не се чуди много</h5>
		<h3>Създай нов проект</h3>
	</div>
</div>

<div class="form-main-content">
	<div class="shell">
		<div class="form-holder">
			<form ng-submit="createProject()">
				
				<input type="text" placeholder="Заглавие" name="project_name" class="input-main input-spacing">
				<textarea name="project_description" class="input-main textarea-main textarea-link input-spacing"
						  placeholder="Описание " ></textarea>

				<h4 class="sub-heading input-spacing">Категории:</h4>
				<div ng-if="categories" class="user-categories-create-project clearfix">

		            <div ng-repeat="c in categories" data-cat_id="{{ c.id }}" class="categories-box-row-create-project">
		                <img ng-src="img/{{ c.icon }}">
		                <p><small>{{ c.name }}</small></p>
		            </div>

		        </div>

				<div class="checkbox-holder">
					<div class="checkbox-col">
					</div>
				</div>

				<div class="file-cnt-holder create-project-file">
					<h4 class="sub-heading">Качи файлове: </h4>
					<div class="file input-spacing">
						<input type="file" name="file" id="id_media" />
						<span class="value">Upload File</span>
						<span class="btn-value"></span>
					</div>
				</div>

				<input type="submit" value="ПУБЛИКУВАЙ" class="btn-main form-btn-main input-spacing">
			</form>
		</div>

		<img src="img/KVADRATI-01.png" class="box-element-1">
	</div>
</div>